.footer {
  --bs-gutter-x:30px;
  padding: 70px 0;
  text-align: center;
  .copyright {
    color: #656a70;
    font-size: 10px;
  }
  .social_footer {
    margin-top: 30px;
      font-size: 18px;
  }
}
.scrolltop {
  background-color: #333;
  border-radius: 2px 2px 0 0;
  bottom: 0;
  height: 35px;
  position: fixed;
  text-align: center;
  width: 48px;
  opacity: 0;
  z-index: 100000;
  transition: opacity .4s ease-in-out, background .2s ease-in-out;
  line-height: 1;
  left: 75px;
  pointer-events: none;
  border: none;
  box-shadow: unset;
  outline: none;
  color: #fff;
  margin: 0;
  padding: 0;
  &.fixed{
    pointer-events: auto;
    opacity: .9;
    transition: opacity .4s ease-in-out, background .2s ease-in-out;
  }
}


